@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  /* border: red 1px solid; */
}

:root {
  --mindaro: #d6ff79;
  --mindaro-bg: #f3ffd6;

  --light-green: rgb(176, 255, 146);
  --dark-green: rgb(92, 192, 52);

  --lavender-blush: rgb(255, 242, 241);
  --lavender-blush-darker: rgb(255, 229, 227);

  --chrysler-blue: rgb(95, 0, 186);

  --tropical-indigo: rgb(160, 155, 231);
  --tropical-indigo-bg: rgb(236, 235, 255);

  --card-bg: rgb(234, 230, 230);

  --color-primary: #5f00baff;
  --color-secondary: var(--mindaro);

  --max-width: 1216px;

  --border-radius-1: 18px;

  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #24f159;
  --clr-primary-a10: #56f36d;
  --clr-primary-a20: #75f681;
  --clr-primary-a30: #8df893;
  --clr-primary-a40: #a3faa5;
  --clr-primary-a50: #b8fbb7;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #1a251a;
  --clr-surface-tonal-a10: #2f3a2f;
  --clr-surface-tonal-a20: #464f45;
  --clr-surface-tonal-a30: #5e665d;
  --clr-surface-tonal-a40: #767e76;
  --clr-surface-tonal-a50: #909690;

  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
}

.font-mono {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container {
  max-width: 1216px;
  width: 100%;
  margin: 3rem auto;
  padding: 30px 45px;
  border-radius: var(--border-radius-1);
  z-index: 10;
  position: relative;
  background: var(--clr-surface-a20);
}

.bg-transparent {
  background: transparent;
}
/* 
.title-container {
  max-width: 1216px;
  margin: auto;
  border-radius: var(--border-radius-1);
  z-index: 10;
  position: relative;
  background-color: transparent;
} */

.title-container h1 {
  font-size: 3.2rem;
}

.dash {
  width: 176px;
  height: 8px;
  border-radius: 3px;
  background: linear-gradient(90deg, var(--clr-primary-a10), transparent);
  transform: translateX(0px);
  margin: 2rem 0;
}

.project-list {
  display: flex;
  flex-flow: column-reverse;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
}

.flex {
  display: flex;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1;
}

.color-primary {
  color: var(--clr-primary-a0);
}

.card {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 8px 8px 8px 0;
  padding: 20px;
  /* background-color: rgb(255, 255, 255); */
  background: var(--clr-surface-a30);
  border-radius: var(--border-radius-1);
  border: 5px solid transparent;
  transition: all 0.5s;
  height: 500px;
  position: relative;
}

.card:hover {
  transform: translate(-2px, -2px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border: 5px solid var(--clr-primary-a20);
  z-index: 20;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: var(--border-radius-1);
  position: relative;
}

/* .sci-py-others-img::after {
  content: "...";
  
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.5rem;
  z-index: 10;

} */

.card p {
  margin: 0.5rem 0;
}

.card .title {
  font-size: 1.9rem;
  margin: 0 0 0.5rem 0;
  font-weight: 100;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.card img {
  margin: 0.6rem 0;
}

p.text-right {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

/* 
p.text-right button {
  flex: 1 1 auto;
} */

.sci-py-others-img {
  filter: brightness(40%);
}

p {
  line-height: 1.8rem;
}

.description {
  min-height: 70px;
}

.title {
  font-size: 2.1rem;
  font-size: 700;
  margin: 0;
  display: inline-block;
  transform: all 0.3 ease-in-out;
}

.subtitle {
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

h3 {
  font-weight: 600;
}

.narrow {
  margin: 0;
  max-width: 620px;
}

.section-header {
  margin: 1.3rem 1rem;
}

a.text-link {
  color: var(--clr-dark-a0);
  text-decoration: none;
  background-color: var(--clr-primary-a20);
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  transition: all 0.25s;
}

a.text-link:hover {
  text-decoration: none;
  color: var(--clr-dark-a0);
  background-color: var(--clr-primary-a0);
}

.card.starred {
  height: auto;
}

.card.starred img {
  height: auto;
}

.starred {
  position: relative;
}

.card.featured {
  height: auto;
}

.card.featured img {
  height: auto !important;
  width: 100%;
}

.starred::after {
  content: "🌟";
  font-size: 2.3rem;
  position: absolute;
  top: -15px;
  left: -33px;
  background-color: whitesmoke;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured {
  margin-bottom: 1rem;
}

.handle {
  margin-left: 0.5rem;
  /* margin-right: 0.5rem; */
  transform: all 0.3 ease-in-out;
}

.hide {
  display: none !important;
}

.hidden {
  display: none !important;
}

.d3 .card,
.sci-py .card {
  min-height: 550px;
}

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-surface-a10);
  z-index: -10;
}

.ul-list li {
  padding: 0.3rem;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 1.2rem 0.7rem;
  margin-bottom: 2em;
  background-color: var(--clr-surface-tonal-a0);
  border-bottom: solid 6px var(--clr-primary-a50);
  z-index: 20;
  transform: all 0.3s ease-in-out;
}

.header .title {
  cursor: pointer;
}

.header.hidden {
  padding: 0.4rem 0.2rem;
}

.header.hidden .title {
  font-size: 0.9rem;
}

.header.hidden nav {
  display: none;
}

.header nav {
  margin-left: auto;
  display: flex;
  margin-right: 3rem;
  gap: 1.3rem;
  position: relative;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
  position: relative;
  color: var(--clr-primary-a40);
  cursor: pointer;
  transition: all 0.25s;
}

.nav-link:hover {
  color: var(--clr-light-a0);
}

.nav-link.active:hover {
  opacity: 0.8;
}

.nav-link.active {
  color: var(--clr-primary-a0);
}

#nav-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--clr-primary-a20);
  position: absolute;
  z-index: 100;
  top: -5px;

}

.label-container {
  display: flex;
  gap: 0.7rem;
}

.label {
  padding: 0 0.7rem;
  background: var(--clr-primary-a30);
  border-radius: 7px;
  font-size: 0.7rem;
  color: var(--clr-dark-a0);
}

/* .nav-link.active::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--clr-primary-a0);
  position: absolute;
  bottom: -5px;
  left: calc(50% - 5px);
  animation: appear 400ms ease-in-out;
} */

.flex-column {
  flex-direction: column;
}

footer {
  text-align: center;
  font-size: 0.85rem;
  color: var(--lavender-blush);
  padding: 2.5rem 0;
  min-height: 150px;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  opacity: 0.7;
}

footer a {
  font-weight: 100;
  color: var(--clr-primary-a0);
}

a {
  color: inherit;
  text-decoration: none;
}

.page-section {
  /* animation: 400ms ease-in-out fade-in; */
}

.icon-sm {
  font-size: 1.2rem;
}

.fullpage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-top: 5px dashed var(--clr-primary-a50);
}

.flex-column {
  flex-direction: column;
}

.fullpage-content-wrapper {
  width: 100% !important;
}

.typing-automation-page {
  background: linear-gradient(13deg, var(--clr-surface-a0) 43%, var(--clr-surface-a30));
}

#typing-automation {
  font-size: 2.2rem;
  font-weight: 200;
  margin-left: 5vw;
}

#typing-automation::after {
  content: '_';
  font-weight: 800;
  margin-left: 0.5rem;
  color: var(--clr-primary-a0);
  animation: blink 800ms infinite;
}

.text-left {
  text-align: left;
}

.flex-start {
  justify-items: flex-start;
}

.width-100 {
  width: 100%;
}

@keyframes blink {
  0% {
    opaticity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }
}

.box {
  max-width: var(--max-width);
  width: 100%;
  margin: 30px auto;
  padding: 30px 45px;
  border-radius: var(--border-radius-1);
  background-color: whitesmoke;
  display: flex;
  position: relative;
}

.m-2 {
  margin: 2rem;
}

.my-photo {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-1);
  border: 10px solid var(--clr-primary-a20);
  transition: all 0.33s;
  /* filter: hue-rotate(125deg); */
}

.my-photo:hover {
  cursor: zoom-in;
}

.blur {
  filter: blur(3px);
}

.curly-line-my-photo {
  max-width: 500px;
  position: absolute;
  top: 10px;
  left: -20px;
  transform: rotate(7deg);
  filter: hue-rotate(125deg) brightness(1.6);
}

.photo-section {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 70%;
}

.emoji {
  font-size: 4rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: 50%;
  padding: 0.6rem;
  position: absolute;
  z-index: 25;
}

#guitar-emoji {
  background-color: var(--light-green);
  bottom: 70px;
  left: -20px;
  transform: rotate(30deg);
}

#joystick-emoji {
  bottom: -20px;
  right: 10px;
  transform: rotate(-25deg);
}

#laptop-emoji {
  top: 40px;
  left: -20px;
  transform: rotate(-25deg);
  background-color: var(--color-primary);
}

#about {
  background-image: url("assets/bg01.png");
  background-size: cover;
  position: relative;
}

#about::after {
  content: "";
  width: 100%;
  height: 100vh;
  background: var(--clr-surface-a20);
  backdrop-filter: blur(20px);
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.about-box {
  position: relative;
  min-height: 72vh;
  display: flex;
  align-items: center;
  justify-self: center;
  /* background: var(--lavender-blush); */
  background: var(--clr-surface-tonal-a10);
  padding: 3rem 2rem;
}

.box-shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.about-text {
  max-width: 50%;
  width: auto;
  margin: 1rem;
  font-size: 1.1rem;
}

.about-text h1 {
  font-size: 3.2rem;
  margin: 0;
}

.about-text p {
  line-height: 1.7rem;
  text-align: justify;
}

.about-text .font-mono a {
  color: var(--color-primary);
  text-decoration: underline;
}

.cert-title {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ul-list li p {
  margin: 0.5rem 0;
}

.btn,
.card button {
  font-size: 1.2rem;
  background-color: var(--clr-primary-a20);
  color: var(--clr-dark-a0);
  border: 2px solid var(--clr-primary-a20);
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.btn:hover,
.card button:hover {
  opacity: 1;
  background-color: transparent;
  color: var(--clr-primary-a0);
  border: 2px solid var(--clr-primary-a0);
}

.btn.muted,
.card button.muted {
  color: var(--clr-primary-a20);
  background-color: transparent;
  border: 2px solid var(--clr-primary-a20);
  transition: all 0.3s;
}

.btn.muted:hover,
.card button.muted:hover {
  color: var(--clr-dark-a0);
  background-color: var(--clr-primary-a20);
  border: 2px solid var(--clr-primary-a20);
}

.spacer-10 {
  min-height: 10rem;
}

#last-fullpage {
  background-image: url("assets/about-me-bg.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

#last-fullpage::after {
  content: "";
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.25); */
  opacity: 0.75;
  background: var(--clr-surface-tonal-a0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  /* filter: blur(10px); */
}

#certificates {
  width: var(--max-width);
}

.contact-content-wrapper {
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
}

#contact {
  flex: 0 1 auto;
  width: auto;
  margin-top: 4rem;
}

#particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  cursor: pointer;
}

#coursor {
  width: 0.2em;
  height: 0.6em;
  background-color: var(--clr-primary-a0);
  animation: coursor-blink infinite 1s;
  margin-left: 0.3rem;
}

.about-highlight {
  background-color: rgba(95, 0, 186, 0.5);
  padding: 0.1em 0.3em;
  border-radius: 4px;
  color: var(--light-green);
}

.counters-container {
  display: flex;
}

.counter {
  margin: 0.1rem 1.4rem;
  min-width: 120px;
  width: 100%;
}

.counter h1 {
  font-size: 2.2rem;
  margin: 0.2rem;
}

.strike-through {
  text-decoration: line-through;
}

.mt-1 {
  margin-top: 1.3rem;
}

.gotop-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--clr-primary-a20);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  transition: all 0.25s;
}

.gotop-btn:hover {
  background-color: var(--clr-primary-a0);
}

.gotop-btn span {
  font-size: 3rem;
}

.unsupported-viewport-wrapper {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  background: var(--lavender-blush);
}

.unsupported-viewport-content {
  max-width: 800px;
  width: auto;
}

.text-lg {
  font-size: 1.4rem;
  line-height: 2.3rem;
}

#mail-icon {
  font-size: 5rem;
  margin: 2.4rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#mail-icon:hover {
  transform: translateY(-8px) scale(1.1) rotate(-3deg);
}

.fly-out-right-anim {
  animation: fly-out-right 0.4s ease-in;
}

/* KEYFRAMES */

@keyframes fly-out-right {
  from {}

  to {
    transform: translate(500px, -20px);
    opacity: 0;
  }
}

@keyframes coursor-blink {
  0% {
    opacity: 0;
  }

  30%,
  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    transform: scale(0.001);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1700px) {
  :root {
    font-size: 14px;
  }

  .about-box {
    margin-top: 6rem;
  }


  .contact-content-wrapper {
    display: block !important;
    max-width: 100%;
  }
}

@media screen and (max-width: 1317px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    width: auto;
    border-radius: 0;
  }

  .header nav {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }

  .header .nav-link {
    font-size: 1rem;
    font-weight: 100;
    padding: 0 0.5rem;
    position: relative;
    cursor: pointer;
    transition: all 0.25s;
  }

  .contact-content-wrapper {
    display: block !important;
    max-width: 100%;
  }

  #certificates {
    margin: 1rem;
    max-width: 100% !important;
  }

  .about-box {
    display: flex;
    flex-direction: column;
  }

  .my-photo {
    max-width: 30%;
  }

  .about-text {
    max-width: 90%;
    font-size: 0.7rem !important;
  }

  #joystick-emoji {
    display: none;
  }

}

@media screen and (max-width: 806px) {
  .counters-container {
    display: flex;
    flex-direction: row;
  }

  .contact-content-wrapper {
    display: block !important;
    max-width: 100%;
  }

  .about-box {
    display: block !important;
    margin-top: 8rem;
  }

  .about-text {
    max-width: 100%;
  }

  .title-container {
    margin: 0 0.5rem;
  }

  #certificates {
    margin: 1rem;
    margin-right: 1rem !important;
    width: auto !important;
  }

  #typing-automation {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .counter {
    transform: scale(0.8);
  }

  .counters-container {
    flex-direction: column;
  }

  .container {
    margin: auto;
    width: auto;
  }

  .header nav {
    margin: 1rem 0;
  }

  #guitar-emoji,
  #laptop-emoji {
    transform: scale(0.6);
  }

  .header .nav-link {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .contact-content-wrapper {
    display: block !important;
    max-width: 100%;
  }

  .about-box {
    display: block !important;
    margin-top: 8rem;
  }

  .photo-and-counters {
    display: flex;
  }

  .left-section {
    max-width: 50%;
  }

  .curly-line-my-photo {
    display: none;
  }

  .about-text {
    max-width: 100%;
    font-size: 0.9rem;
  }

  .my-photo {
    max-width: 100%;
  }

  .title-container {
    margin: 0 0.5rem;
  }

  #certificates {
    margin: 1rem;
    margin-right: 1rem !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .header nav {
    display: none;
  }

  .container {
    padding: 20px;
    margin: 0.5rem;
  }

  .card.starred::after {
    transform: scale(0.8);
    left: -25px;
  }

  .counter {
    transform: scale(0.8);
  }

  .title-container {
    margin: 0 0.5rem;
  }

  .about-box {
    margin-top: 10rem;
  }

  .card {
    height: auto;
  }

  .sci-py .card,
  .d3 .card {
    min-height: 400px;
  }

  .card .description {
    min-height: auto;
  }

  .header {
    flex-direction: column;
  }

  :root {
    font-size: 9px;
  }

  .featured.flex.flex-direction-row-reverse {
    display: block;
  }

  .contact-content-wrapper {
    display: block !important;
    max-width: 100%;
  }

  .about-box {
    display: block !important;
  }

  #certificates {
    margin: 1rem;
    margin-right: 1rem !important;
    width: auto !important;
  }

}