@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

:root {
  --color-dark: black;
  --color-gray: gray;
  --width-field: 200px;
  --animation-duration: 0.8s;
  --dark-mode-background: rgb(37, 34, 34);
  --dark-mode-light: rgb(224, 223, 223);
}

body {
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.25s;
}

.dark-mode {
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-light);
}

footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: chocolate;
}

a:hover {
  text-decoration: underline;
}

.btn {
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px 15px;
  border: 2px solid chocolate;
  border-radius: 25px;
  background-color: transparent;
  color: chocolate;
  cursor: pointer;
  transition: all 0.25s;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  margin: 0.8rem;
  font-weight: 200;
}

.container {
  max-width: 1200px;
  margin: auto;
  flex: 1;
}

.container nav {
  padding: 0 0 20px 0;
  display: flex;
  align-items: center;
}

.message {
  text-align: center;
  flex: 1;
  font-size: 1.8rem;
}

.gameboard {
  width: calc(var(--width-field) * 3);
  margin: auto;
}

.row {
  display: flex;
}

.row:nth-child(1),
.row:nth-child(2) {
  border-bottom: 2px dashed var(--color-gray);
}

.gamefield {
  height: var(--width-field);
  width: var(--width-field);  
  display: flex;
  position: relative;
  cursor: pointer;
}

.gamefield:nth-child(1),
.gamefield:nth-child(2) {
  border-right: 2px dashed var(--color-gray);
}

.gamefield.player-X::after {
  content: '';
  width: calc(var(--width-field) - 20px);
  height: 10px;
  background-color: var(--color-dark);
  transform: rotate(45deg);
  position: absolute;
  top: calc(var(--width-field) / 2 - 5px);
  left: 8px;
  animation: show var(--animation-duration);
}

.gamefield.player-X::before {
  content: '';
  width: calc(var(--width-field) - 20px);
  height: 10px;
  background-color: var(--color-dark);
  transform: rotate(-45deg);
  position: absolute;
  top: calc(var(--width-field) / 2 - 5px);
  left: 8px;
  animation: show-minus-45-deg var(--animation-duration);
}

.dark-mode .gamefield.player-X::after {
  background-color: var(--dark-mode-light);
}

.dark-mode .gamefield.player-X::before {
  background-color: var(--dark-mode-light);
}


.gamefield.player-O::after {
  content: '';
  width: calc(var(--width-field) - 40px);
  height: calc(var(--width-field) - 40px);
  background-color: var(--color-dark);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  animation: show var(--animation-duration);
}

.gamefield.player-O::before {
  content: '';
  width: calc(var(--width-field) - 60px);
  height: calc(var(--width-field) - 60px);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
  animation: show var(--animation-duration);
  transition: all 0.25s;
}

.dark-mode .gamefield.player-O::after {
  background-color: var(--dark-mode-light);
}

.dark-mode .gamefield.player-O::before {
  background-color: var(--dark-mode-background)
}


@keyframes show {
  0% {
    transform: scale(1.2) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}

@keyframes show-minus-45-deg {
  0% {
    transform: scale(1.2) rotate(-45deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.controls-wrapper {
  font-size: 0.8rem;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}

.dark-mode-toggle {
  width: 30px;
  height: 20px;
  border: 2px solid var(--color-dark);
  margin-right: 5px;
  border-radius: 10px;
  position: relative; 
  cursor: pointer;
}

.dark-mode .dark-mode-toggle {
  border: 2px solid var(--dark-mode-light);
}

.dark-mode-toggle::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--dark-mode-light);
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all 0.25s;
}

.dark-mode-toggle.on::after {
  left: 13px;
  background-color: chocolate;
}

@media screen and (max-width: 640px) {
  :root {
    --width-field: 100px;
  }

  .title {
    margin-top: 2rem;
  }
}